@include media-breakpoint(basic) {
    .header {
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        &.Header_fix {
            background-color: lighten($theme2, 40);
            & .navbar-brand {
                height: 75px;
            }
        }
    }
    .headersection {
        & .navbar-brand {
            height: 100px;
            transition: all 0.3s ease-in-out;
        }
        & .navitems {
            & .navbar-nav {
                gap: 35px;
                & .nav-item {
                    & .nav-link {
                        font-weight: 600;
                        font-size: 20px;
                        transition: all ease-in-out 0.3s;
                        position: relative;
                        color: $black;
                        &::before{
                            content: '';
                            width: 0px;
                            height: 2px;
                            position: absolute;
                            left: 0;
                            background-color: $black;
                            bottom: 0;
                            transition: all ease-in-out 0.3s;
                        }
                        &:hover{
                            &::before{
                                width: 100%;
                            }
                        }
                    }
                    &.active{
                        & .nav-link{
                            &::before{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        & .offcanvasBtn {
            background-color: transparent;
            border: none;
            padding: 0;
            display: none;
        }
    }

    .heroSection {
        min-height: 100vh;
        background-color: lighten($theme2, 40);
        & .innersection {
            padding-top: 25px;
            & .contantSide {
                & .mainHeading {
                    font-size: 75px;
                    font-weight: 600;
                    line-height: normal;
                }
                & .subHeading {
                    font-size: 35px;
                    font-weight: 500;
                    line-height: normal;
                }
                & .inputBox {
                    & .input-group-prepend, & .form-control {
                        height: 55px;

                    }
                    & .input-group-prepend {
                        & span {
                            border-right: none;
                            border-radius: 10px 0px 0px 10px;
                        }
                    }
                    & span , & .form-control {
                        color: $black;
                        border: 2px solid $black;
                        font-size: 20px;
                        font-weight: bolder;
                    }
                    & .form-control {
                        border-radius: 0px 10px 10px 0px;
                    }
                }
                & .customBtn {
                    background-color: $theme1;
                    font-weight: bold;
                    height: 55px;
                    transition: all 0.3s ease-in-out;
                    font-size: 20px;
                    border-radius: 10px;
                    &:hover{
                        background-color: darken($theme1,8);
                        
                    }
                }
                & .androidBtn {
                    & .android_btn {
                        text-decoration: none;
                        background-color: $black;
                        transition: all 0.3s ease-in-out;
                        gap: 10px;
                        font-size: 16px;
                        line-height: normal;
                        height: 55px;
                        border-radius: 10px;
                        &:hover{
                            background-color: lighten($black, 10);
                        }
                    }
                }
            }
            & .mockSide {
                position: relative;
                &::before{
                    max-width: 500px;
                    height: 100%;
                    width: 100%;
                    max-height: 500px;
                    border-radius: 100%;
                    content: '';
                    position: absolute;
                    inset: 0;
                    margin: auto;
                    background-color: $theme1;
                }
                & .heroimg {
                    max-width: 300px;
                }
            }
        }
    }
    
}

@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(xl) {
}
@include media-breakpoint-up(xxl) {
}


@include media-breakpoint-down(xxl) {
}
@include media-breakpoint-down(xl) {
    .headersection {
        & .navbar-brand {
            height: 80px;
        }
        & .navitems {
            & .navbar-nav {
                & .nav-item {
                    & .nav-link {
                        &::before{
                        }
                        &:hover{
                            &::before{
                            }
                        }
                    }
                    &.active{
                        & .nav-link{
                            &::before{
                            }
                        }
                    }
                }
            }
        }
        & .offcanvasBtn {
        }
    }
    .heroSection {
        height: auto !important;
        & .innersection {
            & .contantSide {
                & .mainHeading {
                    font-size: 65px;
                }
                & .subHeading {
                    font-size: 32px;
                }
                & .inputBox {
                    & .input-group-prepend, & .form-control {
                        height: 52px;
                    }
                    & .input-group-prepend {
                        & span {
                            // border-radius: 10px 0px 0px 10px;
                        }
                    }
                    & span , & .form-control {
                        font-size: 17px;
                    }
                    & .form-control {
                        // border-radius: 0px 10px 10px 0px;
                    }
                }
                & .customBtn {
                    height: 52px;
                    font-size: 18px;
                    // border-radius: 10px;
                    &:hover{
                        
                    }
                }
                & .android_btn {
                    // gap: 10px;
                    font-size: 15px;
                    height: 52px;
                    // border-radius: 10px;
                    &:hover{
                    }
                }
            }
            & .mockSide {
                position: relative;
                &::before{
                    max-width: 400px;
                    max-height: 400px;
                }
                & .heroimg {
                    max-width: 250px;
                }
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    .heroSection {
        & .innersection {
            & .contantSide {
                & .mainHeading {
                    font-size: 45px;
                }
                & .subHeading {
                    font-size: 25px;
                }
                & .inputBox {
                    & .input-group-prepend, & .form-control {
                        height: 45px;
                    }
                    & .input-group-prepend {
                        & span {
                        }
                    }
                    & span , & .form-control {
                        font-size: 15px;
                        padding: 5px 8px;
                    }
                    & .form-control {
                    }
                }
                & .customBtn {
                    height: 45px;
                    font-size: 16px;
                    &:hover{
                        
                    }
                }
                & .android_btn {
                    font-size: 14px;
                    height: 45px;
                    &:hover{
                    }
                }
            }
            & .mockSide {
                position: relative;
                &::before{
                    max-width: 300px;
                    max-height: 300px;
                }
                & .heroimg {
                    max-width: 200px;
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .header {
        background-color: lighten($theme2, 40);
        &.Header_fix {
            & .navbar-brand {
                height: 60px;
            }
        }
    }
    .headersection {
        & .navbar-brand {
            height: 65px;
        }
        & .navitems {
            & .navbar-nav {
                gap: 35px;
                & .nav-item {
                    & .nav-link {
                        &::before{
                        }
                        &:hover{
                            &::before{
                            }
                        }
                    }
                    &.active{
                        & .nav-link{
                            &::before{
                            }
                        }
                    }
                }
            }
        }
        & .offcanvasBtn {
            width: 25px;
            display: flex;
        }
    }
    .heroSection {
        & .innersection {
            & .contantSide {
                & .mainHeading {
                    text-align: center;
                    // font-size: 45px;
                }
                & .subHeading {
                    text-align: center;
                    // font-size: 25px;
                }
                & .inputBox {
                    & .input-group-prepend, & .form-control {
                        height: 45px;
                    }
                    & .input-group-prepend {
                        & span {
                            // border-radius: 10px 0px 0px 10px;
                        }
                    }
                    & span , & .form-control {
                        // font-size: 16px;
                    }
                    & .form-control {
                        // border-radius: 0px 10px 10px 0px;
                    }
                }
                & .customBtn {
                    height: 45px;
                    // font-size: 16px;
                    // border-radius: 10px;
                    &:hover{
                        
                    }
                }
                & .android_btn {
                    // gap: 10px;
                    // font-size: 14px;
                    height: 45px;
                    // border-radius: 10px;
                    &:hover{
                    }
                }
            }
            & .mockSide {
                &::before{
                    max-width: 300px;
                    max-height: 300px;
                }
                & .heroimg {
                    // max-width: 300px;
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .header {
        &.Header_fix {
            & .navbar-brand {
                height: 55px;
            }
        }
    }
    .headersection {
        padding-left: 0;
        padding-right: 0;
        & .navbar-brand {
            height: 60px;
            padding: 0;
        }
        & .navitems {
            & .navbar-nav {
                & .nav-item {
                    & .nav-link {
                        &::before{
                        }
                        &:hover{
                            &::before{
                            }
                        }
                    }
                    &.active{
                        & .nav-link{
                            &::before{
                            }
                        }
                    }
                }
            }
        }
        & .offcanvasBtn {
            width: 25px;
        }
    }
    .heroSection {
        & .innersection {
            & .contantSide {
                & .mainHeading {
                    font-size: 30px;
                }
                & .subHeading {
                    font-size: 20px;
                }
                & .inputBox {
                    & .input-group-prepend, & .form-control {
                        // height: 40px;
                    }
                    & .input-group-prepend {
                        & span {
                            // border-radius: 10px 0px 0px 10px;
                        }
                    }
                    & span , & .form-control {
                        font-size: 15px;
                    }
                    & .form-control {
                        // border-radius: 0px 10px 10px 0px;
                    }
                }
                & .customBtn {
                    // height: 40px;
                    font-size: 15px;
                    // border-radius: 10px;
                    &:hover{
                        
                    }
                }
                & .androidBtn {
                    gap: 12px;
                    // font-size: 14px;
                    // height: 45px;
                    // border-radius: 10px;
                    & .col-auto {
                        padding: 0;
                    }
                    & .android_btn {
                        padding: 4px 8px !important;
                        font-size: 13px;
                        gap: 5px;
                    }
                }
            }
            & .mockSide {
                &::before{
                    // max-width: 350px;
                    // max-height: 350px;
                }
                & .heroimg {
                    // max-width: 250px;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .headersection {
        padding-left: 0;
        padding-right: 0;
        & .navbar-brand {
            padding: 0;
        }
        & .navitems {
            & .navbar-nav {
                & .nav-item {
                    & .nav-link {
                        &::before{
                        }
                        &:hover{
                            &::before{
                            }
                        }
                    }
                    &.active{
                        & .nav-link{
                            &::before{
                            }
                        }
                    }
                }
            }
        }
        & .offcanvasBtn {
            width: 25px;
            display: flex;
        }
    }
    .heroSection {
        & .innersection {
            & .contantSide {
                & .mainHeading {
                }
                & .subHeading {
                }
                & .inputBox {
                    margin: 0px !important;
                    gap: 10px;
                    & .input-group-prepend, & .form-control {
                    }
                    & .input-group-prepend {
                        & span {
                        }
                    }
                    & span , & .form-control {
                    }
                    & .form-control {
                    }
                    & .getBtn {
                        margin-bottom: 10px;
                        min-width: 100%;
                    }
                }
                & .customBtn {
                    width: 100%;
                    &:hover{
                        
                    }
                }
                & .android_btn {
                    &:hover{
                    }
                }
            }
            & .mockSide {
                &::before{
                    max-width: 300px;
                    max-height: 300px;
                }
                & .heroimg {
                    max-width: 180px;
                }
            }
        }
    }
}