@include media-breakpoint(basic) {
    .paymentsection {
        background-color: lighten($theme2, 40);
        & .paymentInner {
            & .paymentRow {
                & .paymentContent {
                    & .paymentHeading {
                        font-size: 36px;
                        line-height: 1.1;
                        color: $black;
                        font-weight: 700;
                        margin-bottom: 20px;
                    }
                    & .paymentPara {
                        margin-bottom: 15px;
                        line-height: 1.8;
                        font-size: 14px;
                        color: $gray-600;
                    }
                }
                & .paymentAmount {
                    border: 8px solid $white;
                    background-color: $theme1;
                    height: 540px !important;
                    // max-width: 460px !important;
                    width: 100%;
                    // height: 100%;
                    margin: auto;
                    border-radius: 50%;
                    position: relative;
                    & .paymentAmountDetailOuter {
                        // background-color: $white;
                        position: relative;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        left: 50%;
                        width: 100% !important;
                        padding: 23px !important;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        & .paymentAmountContent {
                            background-color: $theme-orange;
                            border: 8px solid $white;
                            & .paymentAmountHeading {
                                
                                font-size: 22px;
                                font-weight: 500;
                                color: $white;
                            }
                            & .paymentAmountTitle {
                                color: $white;
                                font-size: 16px; 
                                font-weight: 500;
                            }
                            & .paymentAmountText {
                                color: $white;
                                font-size: 16px; 
                                font-weight: 500;
                            }
                            & .paymentLink {
                                & .paymentLinkItem {
                                    margin: 0;
                                    padding: 0;
                                    justify-content: end;
                                    display: flex;
                                    & .paymentLinkItems {
                                        list-style: none;
                                        padding-right: 14px;
                                        & .paymentLinkItemLink {
                                            width: 20px;
                                            height: 20px;
                                            display: flex;
                                            & img {
                                                aspect-ratio: 10/10;
                                                object-fit: cover;
                                            }
                                        }
                                        &:last-child {
                                            padding-right: 0px;
                                        }
                                    }
                                }
                            }
                        }
                        
                        // &::before {
                        //     position: absolute;
                        //     content: "";
                        //     border: 3px solid white;
                        //     width: 100%;
                        //     height: 100%;
                        //     top: 0;
                        //     left: 0;
                        //     padding: 50px !important;
                        // }
                    }
                }
                & .paymentIcons1 {
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    top: 23%;
                    left: -3%;
                    & img {
                        aspect-ratio: 10/10;
                        object-fit: contain;
                    }
                }
                & .paymentIcons2 {
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    bottom: 3%;
                    left: 11%;
                    & img {
                        aspect-ratio: 10/10;
                        object-fit: contain;
                    }
                }
                & .paymentIcons3 {
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    right: 3%;
                    top: 14%;
                    & img {
                        aspect-ratio: 10/10;
                        object-fit: contain;
                    }
                }
                & .paymentIcons4 {
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    right: 15%;
                    bottom: 8%;
                    & img {
                        aspect-ratio: 10/10;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    .contactUsPage {
        background-color: lighten($theme-orange, 48);
        & .submitcard {
            background-color: lighten($color: $theme2, $amount: 43);
            & .cardBody {
                & .contactForm {
                    & .contactHeading {
                        font-size: 36px;
                        line-height: 1.1;
                        color: $black;
                        font-weight: 700;
                        margin-bottom: 20px;
                    }
                    & .form-group {
                        & label {
                            font-size: 14px;
                            padding-bottom: 2px;
                            font-weight: 600;
                        }
                        & .form-control {
                            // border: 1px solid $theme1;
                            border: 1px solid $gray-300;
                            &:active, &:hover, &:focus {
                                border: 1px solid $theme1;
                            }
                        }
                    }
                    & .submitButton {
                        border: none;
                        position: relative;
                        padding: 8px 35px;
                        border-radius: 30px;
                        display: inline-block;
                        // transition: all .5s ease-in-out;
                        font-weight: 600;
                        font-size: 16px;
                        background-color: $theme1;
                        &:hover {
                            background-color: darken($color: $theme1, $amount: 10);
                        }
                    }
                }
            }
        }
        & .contactDetail {
            & .headingLeft {
                font-size: 36px;
                line-height: 1.1;
                color: $black;
                font-weight: 700;
                margin-bottom: 20px;
            }
            & .contactDetailTitle {
                font-size: 20px;
                color: $black;
                font-weight:600;
                padding-right: 10px;
                padding-bottom: 15px;
            }
            & .contactDetailImg {
                width: 40px;
                height: 40px;
                border-radius: 8px;
                background-color: $theme1;
                padding: 8px;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                & img {
                    aspect-ratio: 10/10;
                    object-fit: contain;
                    width: 100%;
                }
            }
            & .contactDetailText {
                font-weight: 400;
                font-size: 16px;
                color: $gray-600;
            }
            & .socialIconItem {
                margin: 0;
                padding: 0;
                display: flex;
                & .socialIconItems {
                    list-style: none;
                    padding-right: 10px;
                    & .socialIconItemsLink {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        border-radius: 50%;
                        & img {
                            aspect-ratio: 10/10;
                            object-fit: contain;
                        }
                        &.fb {
                            background-color: #428ecc;
                        }
                        &.wa {
                            background-color: #6cb74e;
                        }
                        &.ins {
                            background-color:#e84839;
                        }
                        &.yt {
                            background-color:#d3273f;
                        }
                        &.pin {
                            background-color:#e84839;
                        }
                        &.link {
                            background-color:#428ecc;
                        }
                    }
                    &:last-child {
                        padding-right: 0px;
                    }
                }
            }
        }
    }

    .offcanvasSection {
        // background: red;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transition: all .5s;
        z-index: 9999;
        width: 100%;
        
        &.hide{
            visibility: hidden;
            max-width: 0px;
            & .offcanvasInner {
                display: none;
            }
        }
        &.show {
            visibility: visible;
            max-width: 290px;
            & .offcanvasInner{
                // display: flex;
            }
        }
        & .offcanvasInner {
            & .offcanvasHeader {
                & .offcanvasLogoImg {
                    width: 100px;
                    height: 100px;
                    & img {
                        aspect-ratio: 10/10;
                        object-fit: contain;
                    }
                }
                & .closeBtn {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 7px;
                    background: $theme1;
                    border-radius: 50%;
                    & img {
                        aspect-ratio: 10/10;
                        object-fit: contain;
                    }
                }
            }
            & .offcanvasBody {
                & .offcanvasItems {
                    margin: 0;
                    padding: 0;
                    & .offcanvasList {
                        list-style: none;
                        // padding: 10px 0px;
                        // border-bottom: 1px solid $gray-700;
                        & .offcanvasListLink {
                            display: flex;
                            color: $black;
                            font-size: 16px;
                            width: 100%;
                            padding: 10px 10px;
                            text-decoration: none;
                            &:hover {
                                background-color:$theme1;
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }
    .modalbackdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        &.hidden {
            opacity: 0;
        }
        &.shows {
            opacity: .5;
            z-index: 1031;
        }
    }
}

@include media-breakpoint-up(sm) {
    .paymentsection {
        & .paymentInner {
            & .paymentRow {
                & .paymentContent {
                    & .paymentHeading {
                    }
                    & .paymentPara {
                    }
                }
                & .paymentAmount {
                    & .paymentAmountDetailOuter {
                        & .paymentAmountContent {
                            & .paymentAmountHeading {
                            }
                            & .paymentAmountTitle {
                            }
                            & .paymentAmountText {
                            }
                            & .paymentLink {
                                & .paymentLinkItem {
                                    & .paymentLinkItems {
                                        & .paymentLinkItemLink {
                                            & img {
                                            }
                                        }
                                        &:last-child {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & .paymentIcons1 {
                    & img {
                    }
                }
                & .paymentIcons2 {
                    & img {
                    }
                }
                & .paymentIcons3 {
                    & img {
                    }
                }
                & .paymentIcons4 {
                    & img {
                    }
                }
            }
        }
    }
    .contactUsPage {
        
        & .submitcard {
            & .cardBody {
                & .contactForm {
                    & .contactHeading {
                    }
                    & .form-group {
                        & label {
                        }
                        & .form-control {
                            &:active, &:hover, &:focus {
                            }
                        }
                    }
                    & .submitButton {
                        &:hover {
                        }
                    }
                }
            }
        }
        & .contactDetail {
            & .headingLeft {
            }
            & .contactDetailTitle {
            }
            & .contactDetailImg {
                & img {
                }
            }
            & .contactDetailText {
            }
            & .socialIconItem {
                & .socialIconItems {
                    & .socialIconItemsLink {
                        & img {
                        }
                        &.fb {
                        }
                        &.wa {
                        }
                        &.ins {
                        }
                        &.yt {
                        }
                        &.pin {
                        }
                        &.link {
                        }
                    }
                    &:last-child {
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .paymentsection {
        & .paymentInner {
            & .paymentRow {
                & .paymentContent {
                    & .paymentHeading {
                    }
                    & .paymentPara {
                    }
                }
                & .paymentAmount {
                    & .paymentAmountDetailOuter {
                        & .paymentAmountContent {
                            & .paymentAmountHeading {
                            }
                            & .paymentAmountTitle {
                            }
                            & .paymentAmountText {
                            }
                            & .paymentLink {
                                & .paymentLinkItem {
                                    & .paymentLinkItems {
                                        & .paymentLinkItemLink {
                                            & img {
                                            }
                                        }
                                        &:last-child {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & .paymentIcons1 {
                    & img {
                    }
                }
                & .paymentIcons2 {
                    & img {
                    }
                }
                & .paymentIcons3 {
                    & img {
                    }
                }
                & .paymentIcons4 {
                    & img {
                    }
                }
            }
        }
    }
    .contactUsPage {
        
        & .submitcard {
            & .cardBody {
                & .contactForm {
                    & .contactHeading {
                    }
                    & .form-group {
                        & label {
                        }
                        & .form-control {
                            &:active, &:hover, &:focus {
                            }
                        }
                    }
                    & .submitButton {
                        &:hover {
                        }
                    }
                }
            }
        }
        & .contactDetail {
            & .headingLeft {
            }
            & .contactDetailTitle {
            }
            & .contactDetailImg {
                & img {
                }
            }
            & .contactDetailText {
            }
            & .socialIconItem {
                & .socialIconItems {
                    & .socialIconItemsLink {
                        & img {
                        }
                        &.fb {
                        }
                        &.wa {
                        }
                        &.ins {
                        }
                        &.yt {
                        }
                        &.pin {
                        }
                        &.link {
                        }
                    }
                    &:last-child {
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .paymentsection {
        & .paymentInner {
            & .paymentRow {
                & .paymentContent {
                    & .paymentHeading {
                    }
                    & .paymentPara {
                    }
                }
                & .paymentAmount {
                    & .paymentAmountDetailOuter {
                        & .paymentAmountContent {
                            & .paymentAmountHeading {
                            }
                            & .paymentAmountTitle {
                            }
                            & .paymentAmountText {
                            }
                            & .paymentLink {
                                & .paymentLinkItem {
                                    & .paymentLinkItems {
                                        & .paymentLinkItemLink {
                                            & img {
                                            }
                                        }
                                        &:last-child {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & .paymentIcons1 {
                    & img {
                    }
                }
                & .paymentIcons2 {
                    & img {
                    }
                }
                & .paymentIcons3 {
                    & img {
                    }
                }
                & .paymentIcons4 {
                    & img {
                    }
                }
            }
        }
    }
    .contactUsPage {
        
        & .submitcard {
            & .cardBody {
                & .contactForm {
                    & .contactHeading {
                    }
                    & .form-group {
                        & label {
                        }
                        & .form-control {
                            &:active, &:hover, &:focus {
                            }
                        }
                    }
                    & .submitButton {
                        &:hover {
                        }
                    }
                }
            }
        }
        & .contactDetail {
            & .headingLeft {
            }
            & .contactDetailTitle {
            }
            & .contactDetailImg {
                & img {
                }
            }
            & .contactDetailText {
            }
            & .socialIconItem {
                & .socialIconItems {
                    & .socialIconItemsLink {
                        & img {
                        }
                        &.fb {
                        }
                        &.wa {
                        }
                        &.ins {
                        }
                        &.yt {
                        }
                        &.pin {
                        }
                        &.link {
                        }
                    }
                    &:last-child {
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .paymentsection {
        & .paymentInner {
            & .paymentRow {
                & .paymentContent {
                    & .paymentHeading {
                    }
                    & .paymentPara {
                    }
                }
                & .paymentAmount {
                    & .paymentAmountDetailOuter {
                        & .paymentAmountContent {
                            & .paymentAmountHeading {
                            }
                            & .paymentAmountTitle {
                            }
                            & .paymentAmountText {
                            }
                            & .paymentLink {
                                & .paymentLinkItem {
                                    & .paymentLinkItems {
                                        & .paymentLinkItemLink {
                                            & img {
                                            }
                                        }
                                        &:last-child {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & .paymentIcons1 {
                    & img {
                    }
                }
                & .paymentIcons2 {
                    & img {
                    }
                }
                & .paymentIcons3 {
                    & img {
                    }
                }
                & .paymentIcons4 {
                    & img {
                    }
                }
            }
        }
    }
    .contactUsPage {
        
        & .submitcard {
            & .cardBody {
                & .contactForm {
                    & .contactHeading {
                    }
                    & .form-group {
                        & label {
                        }
                        & .form-control {
                            &:active, &:hover, &:focus {
                            }
                        }
                    }
                    & .submitButton {
                        &:hover {
                        }
                    }
                }
            }
        }
        & .contactDetail {
            & .headingLeft {
            }
            & .contactDetailTitle {
            }
            & .contactDetailImg {
                & img {
                }
            }
            & .contactDetailText {
            }
            & .socialIconItem {
                & .socialIconItems {
                    & .socialIconItemsLink {
                        & img {
                        }
                        &.fb {
                        }
                        &.wa {
                        }
                        &.ins {
                        }
                        &.yt {
                        }
                        &.pin {
                        }
                        &.link {
                        }
                    }
                    &:last-child {
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xxl) {
    .paymentsection {
        & .paymentInner {
            & .paymentRow {
                & .paymentContent {
                    & .paymentHeading {
                    }
                    & .paymentPara {
                    }
                }
                & .paymentAmount {
                    & .paymentAmountDetailOuter {
                        & .paymentAmountContent {
                            & .paymentAmountHeading {
                            }
                            & .paymentAmountTitle {
                            }
                            & .paymentAmountText {
                            }
                            & .paymentLink {
                                & .paymentLinkItem {
                                    & .paymentLinkItems {
                                        & .paymentLinkItemLink {
                                            & img {
                                            }
                                        }
                                        &:last-child {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & .paymentIcons1 {
                    & img {
                    }
                }
                & .paymentIcons2 {
                    & img {
                    }
                }
                & .paymentIcons3 {
                    & img {
                    }
                }
                & .paymentIcons4 {
                    & img {
                    }
                }
            }
        }
    }
    .contactUsPage {
        
        & .submitcard {
            & .cardBody {
                & .contactForm {
                    & .contactHeading {
                    }
                    & .form-group {
                        & label {
                        }
                        & .form-control {
                            &:active, &:hover, &:focus {
                            }
                        }
                    }
                    & .submitButton {
                        &:hover {
                        }
                    }
                }
            }
        }
        & .contactDetail {
            & .headingLeft {
            }
            & .contactDetailTitle {
            }
            & .contactDetailImg {
                & img {
                }
            }
            & .contactDetailText {
            }
            & .socialIconItem {
                & .socialIconItems {
                    & .socialIconItemsLink {
                        & img {
                        }
                        &.fb {
                        }
                        &.wa {
                        }
                        &.ins {
                        }
                        &.yt {
                        }
                        &.pin {
                        }
                        &.link {
                        }
                    }
                    &:last-child {
                    }
                }
            }
        }
    }
}



@include media-breakpoint-down(xxl) {
    .paymentsection {
        & .paymentInner {
            & .paymentRow {
                & .paymentContent {
                    & .paymentHeading {
                    }
                    & .paymentPara {
                    }
                }
                & .paymentAmount {
                    & .paymentAmountDetailOuter {
                        & .paymentAmountContent {
                            & .paymentAmountHeading {
                            }
                            & .paymentAmountTitle {
                            }
                            & .paymentAmountText {
                            }
                            & .paymentLink {
                                & .paymentLinkItem {
                                    & .paymentLinkItems {
                                        & .paymentLinkItemLink {
                                            & img {
                                            }
                                        }
                                        &:last-child {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & .paymentIcons1 {
                    & img {
                    }
                }
                & .paymentIcons2 {
                    & img {
                    }
                }
                & .paymentIcons3 {
                    & img {
                    }
                }
                & .paymentIcons4 {
                    & img {
                    }
                }
            }
        }
    }
    .contactUsPage {
        
        & .submitcard {
            & .cardBody {
                & .contactForm {
                    & .contactHeading {
                    }
                    & .form-group {
                        & label {
                        }
                        & .form-control {
                            &:active, &:hover, &:focus {
                            }
                        }
                    }
                    & .submitButton {
                        &:hover {
                        }
                    }
                }
            }
        }
        & .contactDetail {
            & .headingLeft {
            }
            & .contactDetailTitle {
            }
            & .contactDetailImg {
                & img {
                }
            }
            & .contactDetailText {
            }
            & .socialIconItem {
                & .socialIconItems {
                    & .socialIconItemsLink {
                        & img {
                        }
                        &.fb {
                        }
                        &.wa {
                        }
                        &.ins {
                        }
                        &.yt {
                        }
                        &.pin {
                        }
                        &.link {
                        }
                    }
                    &:last-child {
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(xl) {
    .paymentsection {
        & .paymentInner {
            & .paymentRow {
                & .paymentContent {
                    & .paymentHeading {
                    }
                    & .paymentPara {
                    }
                }
                & .paymentAmount {
                    
                    height: 450px !important;
                    & .paymentAmountDetailOuter {
                        width: 87%;
                        & .paymentAmountContent {
                            & .paymentAmountHeading {
                            }
                            & .paymentAmountTitle {
                            }
                            & .paymentAmountText {
                            }
                            & .paymentLink {
                                & .paymentLinkItem {
                                    & .paymentLinkItems {
                                        & .paymentLinkItemLink {
                                            & img {
                                            }
                                        }
                                        &:last-child {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & .paymentIcons1 {
                    & img {
                    }
                }
                & .paymentIcons2 {
                    & img {
                    }
                }
                & .paymentIcons3 {
                    top: 6%;
                    & img {
                    }
                }
                & .paymentIcons4 {
                    bottom: 6%;
                    & img {
                    }
                }
            }
        }
    }
    .contactUsPage {
        
        & .submitcard {
            & .cardBody {
                & .contactForm {
                    & .contactHeading {
                    }
                    & .form-group {
                        & label {
                        }
                        & .form-control {
                            &:active, &:hover, &:focus {
                            }
                        }
                    }
                    & .submitButton {
                        &:hover {
                        }
                    }
                }
            }
        }
        & .contactDetail {
            & .headingLeft {
            }
            & .contactDetailTitle {
            }
            & .contactDetailImg {
                & img {
                }
            }
            & .contactDetailText {
            }
            & .socialIconItem {
                & .socialIconItems {
                    & .socialIconItemsLink {
                        & img {
                        }
                        &.fb {
                        }
                        &.wa {
                        }
                        &.ins {
                        }
                        &.yt {
                        }
                        &.pin {
                        }
                        &.link {
                        }
                    }
                    &:last-child {
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .paymentsection {
        & .paymentInner {
            & .paymentRow {
                & .paymentContent {
                    & .paymentHeading {
                        font-size: 30px;
                    }
                    & .paymentPara {
                    }
                }
                & .paymentAmount {
                    height: 330px !important;
                    & .paymentAmountDetailOuter {
                        z-index: 0;
                        padding: 28px !important;
                        & .paymentAmountContent {
                            & .paymentAmountHeading {
                                font-size: 18px;
                            }
                            & .paymentAmountTitle {
                                font-size: 14px;
                            }
                            & .paymentAmountText {
                                font-size: 14px;
                            }
                            & .paymentLink {
                                & .paymentLinkItem {
                                    & .paymentLinkItems {
                                        & .paymentLinkItemLink {
                                            width: 18px;
                                            height: 18px;
                                            & img {
                                            }
                                        }
                                        &:last-child {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & .paymentIcons1 {
                    width: 70px;
                    height: 70px;
                    top: 15%;
                    left: 1%;
                    & img {
                    }
                }
                & .paymentIcons2 {
                    width: 70px;
                    height: 70px;
                    & img {
                    }
                }
                & .paymentIcons3 {
                    width: 70px;
                    height: 70px;
                    right: 5%;
                    top: 1%;
                    & img {
                    }
                }
                & .paymentIcons4 {
                    width: 70px;
                    height: 70px;
                    bottom: 0;
                    & img {
                    }
                }
            }
        }
    }
    .contactUsPage {
        
        & .submitcard {
            & .cardBody {
                & .contactForm {
                    & .contactHeading {
                        font-size: 30px;
                    }
                    & .form-group {
                        & label {
                        }
                        & .form-control {
                            &:active, &:hover, &:focus {
                            }
                        }
                    }
                    & .submitButton {
                        &:hover {
                        }
                    }
                }
            }
        }
        & .contactDetail {
            & .headingLeft {
                font-size: 30px;
            }
            & .contactDetailTitle {
            }
            & .contactDetailImg {
                & img {
                }
            }
            & .contactDetailText {
            }
            & .socialIconItem {
                & .socialIconItems {
                    & .socialIconItemsLink {
                        & img {
                        }
                        &.fb {
                        }
                        &.wa {
                        }
                        &.ins {
                        }
                        &.yt {
                        }
                        &.pin {
                        }
                        &.link {
                        }
                    }
                    &:last-child {
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .paymentsection {
        & .paymentInner {
            & .paymentRow {
                & .paymentContent {
                    & .paymentHeading {
                        font-size: 28px;
                    }
                    & .paymentPara {
                    }
                }
                & .paymentAmount {
                    height: 510px !important;
                    & .paymentAmountDetailOuter {
                        z-index: 0;
                        padding: 30px !important;
                        & .paymentAmountContent {
                            & .paymentAmountHeading {
                            }
                            & .paymentAmountTitle {
                            }
                            & .paymentAmountText {
                            }
                            & .paymentLink {
                                & .paymentLinkItem {
                                    & .paymentLinkItems {
                                        & .paymentLinkItemLink {
                                            & img {
                                            }
                                        }
                                        &:last-child {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & .paymentIcons1 {
                        width: 100px;
                        height: 100px;
                        top: 25%;
                        left: -5%;
                    & img {
                    }
                }
                & .paymentIcons2 {
                        width: 100px;
                        height: 100px;
                    & img {
                    }
                }
                & .paymentIcons3 {
                        width: 100px;
                        height: 100px;
                        right: 0%;
                        top: 13%;
                    
                    & img {
                    }
                }
                & .paymentIcons4 {
                        width: 100px;
                        height: 100px;
                        bottom: 50px;
                    & img {
                    }
                }
            }
        }
    }
    .contactUsPage {
        
        & .submitcard {
            & .cardBody {
                & .contactForm {
                    & .contactHeading {
                        font-size: 28px;
                    }
                    & .form-group {
                        & label {
                        }
                        & .form-control {
                            &:active, &:hover, &:focus {
                            }
                        }
                    }
                    & .submitButton {
                        &:hover {
                        }
                    }
                }
            }
        }
        & .contactDetail {
            & .headingLeft {
                font-size: 28px;
            }
            & .contactDetailTitle {
            }
            & .contactDetailImg {
                & img {
                }
            }
            & .contactDetailText {
            }
            & .socialIconItem {
                & .socialIconItems {
                    & .socialIconItemsLink {
                        & img {
                        }
                        &.fb {
                        }
                        &.wa {
                        }
                        &.ins {
                        }
                        &.yt {
                        }
                        &.pin {
                        }
                        &.link {
                        }
                    }
                    &:last-child {
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .paymentsection {
        & .paymentInner {
            & .paymentRow {
                & .paymentContent {
                    & .paymentHeading {
                        font-size: 22px;
                    }
                    & .paymentPara {
                    }
                }
                & .paymentAmount {
                    // height: 330px !important;
                    max-width: 330px;
                    width: 100%;
                    max-height: 330px !important;
                    height: 100%;
                    & .paymentAmountDetailOuter {
                        // z-index: 2;
                        padding: 26px !important;
                        & .paymentAmountContent {
                            & .paymentAmountHeading {
                            }
                            & .paymentAmountTitle {
                                font-size: 12px;
                            }
                            & .paymentAmountText {
                                font-size: 12px;
                            }
                            & .paymentLink {
                                & .paymentLinkItem {
                                    & .paymentLinkItems {
                                        & .paymentLinkItemLink {
                                            width: 14px;
                                            height: 14px;
                                            & img {
                                            }
                                        }
                                        &:last-child {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & .paymentIcons1 {
                    width: 60px;
                    height: 60px;
                    top: 18%;
                    left: 1%;
                    & img {
                    }
                }
                & .paymentIcons2 {
                    width: 60px;
                    height: 60px;
                    & img {
                    }
                }
                & .paymentIcons3 {
                    width: 60px;
                    height: 60px;
                    right: 6%;
                    top: 6%;                
                    & img {
                    }
                }
                & .paymentIcons4 {
                    width: 60px;
                    height: 60px;
                    bottom: 10px;
                    & img {
                    }
                }
            }
        }
    }
    .contactUsPage {
        
        & .submitcard {
            & .cardBody {
                & .contactForm {
                    & .contactHeading {
                        font-size: 22px;
                    }
                    & .form-group {
                        & label {
                        }
                        & .form-control {
                            &:active, &:hover, &:focus {
                            }
                        }
                    }
                    & .submitButton {
                        &:hover {
                        }
                    }
                }
            }
        }
        & .contactDetail {
            & .headingLeft {
                font-size: 22px;
            }
            & .contactDetailTitle {
            }
            & .contactDetailImg {
                width: 36px;
                height: 36px;
                padding: 10px;
                & img {
                }
            }
            & .contactDetailText {
            }
            & .socialIconItem {
                & .socialIconItems {
                    & .socialIconItemsLink {
                        width: 36px;
                        height: 36px;
                        & img {
                        }
                        &.fb {
                        }
                        &.wa {
                        }
                        &.ins {
                        }
                        &.yt {
                        }
                        &.pin {
                        }
                        &.link {
                        }
                    }
                    &:last-child {
                    }
                }
            }
        }
    }
}

@media screen and (max-width:390px) {
    .paymentsection {
        & .paymentInner {
            & .paymentRow {
                & .paymentContent {
                    & .paymentHeading {
                        font-size: 20px;
                    }
                    & .paymentPara {
                    }
                }
                & .paymentAmount {
                    // height: 330px !important;
                    max-width: 260px;
                    width: 100%;
                    max-height: 260px !important;
                    height: 100%;
                    & .paymentAmountDetailOuter {
                        // z-index: 2;
                        padding: 26px !important;
                        & .paymentAmountContent {
                            & .paymentAmountHeading {
                                font-size: 16px;
                            }
                            & .paymentAmountTitle {
                                font-size: 12px;
                            }
                            & .paymentAmountText {
                                font-size: 12px;
                            }
                            & .paymentLink {
                                & .paymentLinkItem {
                                    & .paymentLinkItems {
                                        padding-right: 8px;
                                        & .paymentLinkItemLink {
                                            width: 14px;
                                            height: 14px;
                                            & img {
                                            }
                                        }
                                        &:last-child {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & .paymentIcons1 {
                    width: 50px;
                    height: 50px;
                    top: 14%;
                    left: 3%;
                    & img {
                    }
                }
                & .paymentIcons2 {
                    width: 50px;
                    height: 50px;    
                    bottom: 0;
                    left: 19%;
                    & img {
                    }
                }
                & .paymentIcons3 {
                    width: 50px;
                    height: 50px;
                    right: 12%;
                    top: -2%;                
                    & img {
                    }
                }
                & .paymentIcons4 {
                    width: 50px;
                    height: 50px;
                    bottom: 2px;
                    & img {
                    }
                }
            }
        }
    }
    .contactUsPage {
        
        & .submitcard {
            & .cardBody {
                & .contactForm {
                    & .contactHeading {
                        font-size: 20px;
                    }
                    & .form-group {
                        & label {
                        }
                        & .form-control {
                            &:active, &:hover, &:focus {
                            }
                        }
                    }
                    & .submitButton {
                        &:hover {
                        }
                    }
                }
            }
        }
        & .contactDetail {
            & .headingLeft {
                font-size: 20px;
            }
            & .contactDetailTitle {
            }
            & .contactDetailImg {
                width: 30px;
                height: 30px;
                padding: 8px;
                & img {
                }
            }
            & .contactDetailText {
            }
            & .socialIconItem {
                & .socialIconItems {
                    & .socialIconItemsLink {
                        & img {
                        }
                        &.fb {
                        }
                        &.wa {
                        }
                        &.ins {
                        }
                        &.yt {
                        }
                        &.pin {
                        }
                        &.link {
                        }
                    }
                    &:last-child {
                    }
                }
            }
        }
    }
}
