@include media-breakpoint(basic) {
    .manageSection {
        background-color: lighten($theme-orange, 48);
        & .leftSection {
            & .cirleBox {
                max-width: 530px;
                max-height: 530px;
                width: 100%;
                height: 100%;
                margin: auto;
                padding: 110px;
                background-color: $theme1;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                & .textBox {
                    background-color: $white;
                    color: $black;
                    font-size: 14px;
                    padding: 16px 12px;
                    font-weight: 500;
                    border-radius: 5px;
                    margin-bottom: 15px;
                    white-space: nowrap;
                    &.box1 {
                        z-index: 2;
                    }
                }
                & .imagesBox {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    inset: 0;
                    & .topLeftImg {        
                        display: block;
                        height: 205px;
                        position: absolute;
                        top: -49px;
                        left: 0px;
                        transform: rotate(342deg);
                    }
                    & .topRightImg {
                        position: absolute;
                        height: 202px;
                        right: 15px;
                        top: 15px;
                        z-index: 1;
                    }
                    & .bottomLeftImg {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 215px;
                    }
                    & .bottomRighttImg {
                        position: absolute;
                        height: 202px;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }
        & .rightSection {
            & .secHeading {
                font-size: 56px;
                line-height: 1.4;
                font-weight: 700;
                color: darken($theme-orange, 35);
                margin-bottom: 30px;
            }
            & .secText {
                font-size: 20px;
                line-height: normal;
                font-weight: 400;
                color: $black;
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(xl) {
}
@include media-breakpoint-up(xxl) {
}


@include media-breakpoint-down(xxl) {
}
@include media-breakpoint-down(xl) {
    .manageSection {
        & .leftSection {
            & .cirleBox {
                padding: 80px;
                max-width: 430px;
                max-height: 430px;
                & .textBox {
                    &.box1 {
                    }
                }
                & .imagesBox {
                    & .topLeftImg {
                        height: 140px;
                        top: -55px;
                        left: 15px;
                    }
                    & .topRightImg {
                        height: 140px;
                        right: 10px;
                        top: 10px;
                    }
                    & .bottomLeftImg {
                        height: 140px;
                    }
                    & .bottomRighttImg {
                        height: 140px;
                    }
                }
            }
        }
        & .rightSection {
            & .secHeading {
                font-size: 42px;
            }
            & .secText {
                font-size: 18px;
                &:last-child {
                }
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    .manageSection {
        & .leftSection {
            & .cirleBox {
                padding: 70px;
                max-width: 380px;
                max-height: 380px;
                & .textBox {
                    font-size: 13px;
                    padding: 12px 10px;
                    margin-bottom: 10px;                
                    &.box1 {
                    }
                }
                & .imagesBox {
                    & .topLeftImg {
                        height: 100px;
                        top: -15px;
                        left: 25px;
                    }
                    & .topRightImg {
                        height: 110px;
                        right: 15px;
                        top: 30px;
                    }
                    & .bottomLeftImg {
                        height: 120px;
                    }
                    & .bottomRighttImg {
                        height: 120px;
                    }
                }
            }
        }
        & .rightSection {
            & .secHeading {
                font-size: 28px;
            }
            & .secText {
                font-size: 16px;
                &:last-child {
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
}
@include media-breakpoint-down(sm) {
}